#type: pkce
#clientId: ai-d95abcf3bb8a47acad3faf517927d150

type: oidc

clientId: ai-32b9f49840fa49c0a7da55f554624baf
clientSecret: OkZ8mfc1Ojd6ua6e13YaweEq
wellKnownUrl: https://demo-idp.cig.tencentcs.com/sso/tn-27ed1e2c13d44745a6f850c7a2196bd5/ai-32b9f49840fa49c0a7da55f554624baf/oidc/.well-known/openid-configuration

redirectUrl: http://127.0.0.1:7070/callback

server:
  #  softNofileLimit: 1000
  #  hardNofileLimit: 1000
  applicationConnectors:
    - type: http
      port: 7070

  adminConnectors:
    - type: http
      port: 7071


logging:

  # Logback's Time Based Rolling Policy - archivedLogFilenamePattern: /tmp/application-%d{yyyy-MM-dd}.log.gz
  # Logback's Size and Time Based Rolling Policy -  archivedLogFilenamePattern: /tmp/application-%d{yyyy-MM-dd}-%i.log.gz
  # Logback's Fixed Window Rolling Policy -  archivedLogFilenamePattern: /tmp/application-%i.log.gz

  appenders:
    - type: console
      logFormat: "%date{yyyy/MM/dd HH:mm:ss}|%level|%relative|%logger|%message|%xEx{10}%n"
    - type: file
      timeZone: GMT+8
      threshold: INFO
      currentLogFilename: ./logs/oidc.log
      archivedLogFilenamePattern: ./logs/oidc-%i.log.gz
      archive: true
      maxFileSize: 5MB
      archivedFileCount: 10
      logFormat: "%date{yyyy/MM/dd HH:mm:ss}|%level|%relative|%logger|%message|%xEx{10}%n"


